:root {
  --main-color: #f07167;
  --navbar-color: #1b998b;
  --card-color: #1b998b;
  --text: #eaf0f7;
  --button-color: #ffb17a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  text-decoration: none;
  list-style: none;
  color: var(--text);
}
body {
  /* background-color: var(--main-color); */
  background: rgb(56, 162, 215);
  background: radial-gradient(
    circle,
    rgba(56, 162, 215, 1) 5%,
    rgba(86, 17, 57, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}
